<% include include/main-header %>
</head>
<body>
	<!--header end-->
	<% include include/header %>
	<!--header end-->
 <!-- Sequence Modern Slider -->
<div CLASS=" hidden-sm hidden-xs">

<div id="da-slider" class="da-slider wow fadeInUp animated">
            <div class="da-slide">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
              <h2>
               <img src="img/parallax-slider/images/slider-2.png" alt="image01" />
              </h2>
              <p>
                <a href="/custom-apps"><img src="img/parallax-slider/images/slider-3.png" alt="image01" /></a>
              </p>
              <a href="#" class="btn btn-info btn-lg da-link">
                Read more
              </a>
              <div class="da-img">
                <img src="img/parallax-slider/images/2.png" alt="image01" />
              </div>
            </div>
          </div>
        </div>
      </div>
	  
	  
	
      <nav class="da-arrows">
        <span class="da-arrows-prev">
        </span>
        <span class="da-arrows-next">
        </span>
      </nav>
    </div>

</div>

    <div class="container wow fadeInUp animated">
      <div class="row ">
        <div class="col-md-12">
          <div class="text-center wow fadeInDown">
         <h1 CLASS="greatservices" id="home_page_heading_1">  	<SPAN>CLOUD DATABASE</SPAN> <STRONG>DEPLOYMENTS </STRONG></h1>
		 <h4 CLASS="greatservicesh4" id="home_page_heading_2">Explore our Products and Services</h4>

          </div>


          <div class="feature-box">
		  
		  <div CLASS="col-md-8">
		  <div class="col-md-6 col-sm-6  wow fadeInUp">
              <div class="feature-box-heading services">
            	<a href="website-design">
                <img SRC="img/web-design.svg" WIDTH="12%">

              
                <h4>
               <span> W</span>eb design
                </h4></a>
				
              </div>
            
            </div>
			<div class="col-md-6 col-sm-6  wow fadeInUp">
              <div class="feature-box-heading services">
            <a href="custom-apps" >
                <img SRC="img/custom-app.svg" WIDTH="12%">

              
                <h4>
               <span> C</span>Ustom  apps
                </h4>
				</a>
              </div>
            
            </div>
			<div class="col-md-6 col-sm-6  wow fadeInUp">
              <div class="feature-box-heading services">
            		<a href="our-products">
                		<img SRC="img/product.svg" WIDTH="12%">
					<h4>
               <span> P</span>roducts
                </h4>
					</a>
              </div>
            
            </div>
			
			<div class="col-md-6 col-sm-6  wow fadeInUp">
              <div class="feature-box-heading services">
            	<a href="customer-portal" >
                <img SRC="img/customer.svg" WIDTH="12%">

              
                <h4>
               	<span> C</span>loud business applications
			  	</h4>
				</a>
              </div>
            
            </div>
		  
		  
		  </div>
		  
            
            
            
			
			<div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              
              		<IMG SRC="images/services.png"  CLASS="img-responsive" HEIGHT="461" ALT=""/> </div>
			
			
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
	
  <div CLASS="container wow fadeInUp animated" >
	<div ALIGN="CENTER">
	  <h1 CLASS="greatservices">  	<SPAN>OUR</SPAN> <STRONG>WORK</STRONG></h1>
	  
	  
	  
	  
	  
	  <IMG SRC="images/work-brdr-btm.png" CLASS="margin-bottom-30 img-responsive" ALT=""/> </div>
	  
	  
	  
	  <div id="owl-demo" class="owl-carousel owl-theme wow fadeIn">

              <div class="item view view-tenth">
                <img SRC="images/work1.png" alt="work Image">
                <div class="mask">
                  <a href="netterimages-project" TARGET="_BLANK" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="images/work2.png" alt="work Image">
                <div class="mask">
                  <a href="beyond-brilliant-book" TARGET="_BLANK" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="images/work3.png" alt="work Image">
                <div class="mask">
                  <a href="dipna" TARGET="_BLANK" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="images/work4.png" alt="work Image">
				<div class="mask">
                  <a href="marshall-harber-project" TARGET="_BLANK" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
                
              </div>
              <div class="item view view-tenth">
                <img src="images/work5.png" alt="work Image">
				<div class="mask">
                  <a href="catbase-project" class="info" TARGET="_BLANK" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
                
              </div>
              <div class="item view view-tenth">
                <img src="images/work6.png" alt="work Image">
                <div class="mask">
                  <a href="europa-components-project" TARGET="_BLANK" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>


            </div>
			
		<div class="pull-right">
			<a style="padding: 3px 7px; margin-right: 29px; font-size: 12px; position: relative; bottom: 40px;" target="_BLANK" class="btn customer-sign sm-btn" href="projects-undertaken">View All</a>
			</div>
	
	</div>

    <div class="bcg">
      <div class="container wow fadeInUp animated ">
        <div class="row">
          <div class="col-lg-6 col-sm-12 wow fadeIn fadeInUp animated "  STYLE="overflow:hidden; padding-bottom:20px;">
		  <h2>	<span>About</span> Tenthmatrix</h2>
		  <% if (typeof token !== 'undefined' && token !== null) {	%>
		  	<p><%= token %></p>
		  <% }else{ %>
		  	<p>Tenthmatrix is a full service new media agency, incorporating web design, SEO (Search Engine Optimisation), development including databases and Content Management Systems. We are expert in deploying large scale web database applications using Openresty.org, NGINX, Lua, Redis, Memcached, Node.JS, MySQL, MSSQL Server, Oracle, 4D, PostgreSQL, Sybase & NoSQL such as MongoDB. Tenthmatrix is a 4D Silver Partner in London (UK).</p>
		  <% } %>	
		  <!--<div CLASS="pull-right bcgreadmore" ><a HREF="#" >Read more</a></div>-->
		  </div>
		  
		  <div class="col-lg-6 col-sm-12  wow fadeIn">
		<div CLASS="row margin-top-10" >
		
		<div CLASS="col-md-4 col-sm-4 col-xs-12" >
		<div  CLASS="boximage " >
		<div CLASS="clientlogo" >
		
              <a HREF="https://www.elsevier.com/" TARGET="_BLANK">  <img SRC="images/elsevier.jpg" CLASS=" displayed" alt="work Image"></a>

</div>
</div>
</div>
			<div CLASS="col-md-4 col-sm-4 col-xs-12">
			<div  CLASS="boximage">
			<div CLASS="clientlogo" >
				
			 <a HREF="https://www.imoderni.com" TARGET="_BLANK"> <img src="images/imoderni.jpg" alt="work Image" CLASS="displayed"></a>
			</div>
			</div>
			</div>
				<div CLASS="col-md-4 col-sm-4 col-xs-12">
					<div  CLASS="boximage">
			<div CLASS="clientlogo" >	 <a HREF="http://www.hcl.com/" TARGET="_BLANK"> <img src="images/hcl.jpg" alt="work Image" CLASS="displayed"></a>
				</div>
				</div>
				</div>
				
				
				<div CLASS="col-md-4 col-sm-4 col-xs-12 ">
					<div  CLASS="boximage">
		<div CLASS="clientlogo" >
             <a HREF="http://www.propellondon.com/propel/" TARGET="_BLANK">    <img SRC="images/propel.jpg" CLASS=" displayed" alt="work Image"></a>
</div>
</div>
</div>
			<div CLASS="col-md-4 col-sm-4 col-xs-12">
				<div CLASS="boximage">
			<div CLASS="clientlogo" >
			 <a HREF="http://www.cvscreen.co.uk/" TARGET="_BLANK"> <img src="images/cvscreen.jpg" alt="work Image" CLASS="displayed"></a>
			</div>
			</div>
			</div>
				<div CLASS="col-md-4 col-sm-4 col-xs-12">
					<div  CLASS="boximage">
			<div CLASS="clientlogo" > <a HREF="http://dipna.com/" TARGET="_BLANK">	 <img src="images/dipna.jpg" alt="work Image" CLASS="displayed"></a>
				</div>
				</div>
				</div>
			</div>
		</div>
         
            
          </div>
		  
		  
        </div>
      </div>

    </div>

    <!--footer start-->
    <% include include/footer %>
    <!--footer end-->
<script>
$(document).ready(function() {
	load_tokens();
});

	function load_tokens(){
		$(".alert").remove();
		var jsonRow="/tokens?code=home_page_heading_1,home_page_heading_2",
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.aaData){
				$.each(html.aaData, function(i,row){
					if(row.token_content!="" && (row.Status=="1" || row.Status==1)){
						if(row.code=="home_page_heading_1"){
							$("#home_page_heading_1").html(row.token_content);
						}
						if(row.code=="home_page_heading_2"){
							$("#home_page_heading_2").html(row.token_content);
						}
                    }
				});
			}
		});
	}

</script>
  </body>
</html>