<% include include/main-header %>
<style>
.blog-item h1 {
	margin-top:0px!important;
}
</style>
</head>
<body>
 	<!--header end-->
	<% include include/header %>
	<!--header end-->
 
	<div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-sm-8">
           <h1 class="mainheading"><span>Projects Undertaken</span></h1>
          </div>
          <div class="col-lg-4 col-sm-4">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="/">
                  Home
                </a>
              </li>
              <li class="active">
               Projects Undertaken
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
	
	<div class="container">
        <div class="row  mar-b-30">
        	<div id="portfoliolist">
           		<div class="col-md-12">
            		<% if (typeof resultData.Objects !== 'undefined' && resultData.Objects !== null ) {	
            			if(resultData.Objects.length>=1){
            				var objectsContent=resultData.Objects;
            				objectsContent.sort(dynamicSort("order_by"));
            				for(var i=0; i<objectsContent.length; i++){	%>
            				<%- objectsContent[i].content %>
            		<%		}
            			}else{	%>
            			<div class="alert alert-danger">No projects found!</div>
            			<%
            			}
            		}else{ %>
            			<div class="alert alert-danger">No projects found!</div>
            		<% } %>
            	</div>
			</div>
		</div>
    </div>
	
   	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->
 	<script src="js/jquery.magnific-popup.js"></script>
	<script src="js/mixitup.js"></script>
	
	
	 <!--common script for all pages-->

	
	<script type="text/javascript">
    $('.image-caption a').tooltip();
    $(function () {

        var filterList = {

            init: function () {

                // MixItUp plugin
                // http://mixitup.io
                $('#portfoliolist').mixitup({
                    targetSelector: '.portfolio',
                    filterSelector: '.filter',
                    effects: ['fade'],
                    easing: 'snap',
                    // call the hover effect
                    onMixEnd: filterList.hoverEffect()
                });

            },

            hoverEffect: function () {
                $("[rel='tooltip']").tooltip();
                // Simple parallax effect
                $('#portfoliolist .portfolio .portfolio-hover').hover(
        function(){
            $(this).find('.image-caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.image-caption').slideUp(250); //.fadeOut(205)
        }
    );



            }

        };

        // Run the show!
        filterList.init();


    });

    $( document ).ready(function() {

        $('.magnefig').each(function(){
            $(this).magnificPopup({
                type:'image',
                removalDelay: 300,
                mainClass: 'mfp-fade'
            })
        });
    });
    </script>
  </body>
</html>