<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="cosmic">
    	<% 	if (typeof pageTileStr !== "undefined" && pageTileStr!="") { 	%>
    	<title><%= pageTileStr %> </title>
    	<% 	} 	else{	%>
    	<title>Tenthmatrix - Web design development and marketing, iPhone applications, iOS development, Mac apps, Android apps </title>
    	<% } %>
    	<% 	if (typeof metaKeywordsStr !== "undefined" && metaKeywordsStr!="") { 	%>
    	<meta name="keywords" content="<%= metaKeywordsStr %>">
    	<% }else{ %>
    		<meta name="keywords" content="web, design, seo, development, cms, london, content management, new media, job board, programming, uk, database, sem, search engine optimisation, search engine optimization, search engine marketing, agency, apps, applications, technology, tenthmatrix, tenth matrix, net, internet, network, communication, software, ppc, coding, programing, system, inbound links, outbound links, code, e-mail, email, keyword, url, server, expert, jobshout, get found, data, england, online, consultants, digital, drupal, wordpress, blog, web design, website design, web designers, cms integrator, cms developer, cms website development, seo services, ppc services, online marketing company, ecommerce developer, online store development, web development, search, engine, optimisation, internet marketing, google, yahoo!, bing, msn, organic, iphone developer, android developer, application developer, ecommerce, 4d, sql" />
		<% } %>
    	<% 	if (typeof metaDescriptionStr !== "undefined" && metaDescriptionStr!="") { 	%>
        <meta name="description" content="<%= metaDescriptionStr %>">
       	<% }else{ %>
       		<meta name="description" content="TenthMatrix is a full service new media agency, incorporating web design, SEO (Search Engine Optimisation), development including databases and Content Mamagement Systems. We are expert in deploying large web database applications using SQL - MySQL, MSSQL Server, Oracle, 4D, PostgreSQL, Sybase & NoSQL such as MongoDB. Tenthmatrix is a 4D Silver Partner in London (UK)." />
		<% } %>
        
    	<!-- Bootstrap core CSS -->
    	<link href="css/bootstrap.min.css" rel="stylesheet">
    	<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="fonts/museosanscyrl.css"> 
    	<link rel="stylesheet" href="css/animate.css">
    	<link rel="stylesheet" href="assets/owlcarousel/owl.carousel.css">
    	<link href="css/style.css" rel="stylesheet">
		<link href="css/magnific-popup.css" rel="stylesheet">
    	<link rel="stylesheet" type="text/css" href="css/parallax-slider/parallax-slider.css" />
    	
<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
